# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_basic
test_graph

# VS artifacts
*.sln
*.db
*.vcxproj
*.filters
*.opendb

# CMake artifacts
CMakeCache.txt
CmakeFiles/
Makefile
*.cmake

# Subdirectories
*/
*.config
*.bat
