# Based on .travis.yml from https://github.com/philsquared/Catch

language: cpp
sudo: false

matrix:
  include:

# FIXME: Get libc++ working properly with clang on Travis-ci
#    # 1/ Linux Clang Builds
#    - os: linux
#      compiler: clang
#      addons: &clang37
#        apt:
#          sources: ['llvm-toolchain-precise-3.7', 'ubuntu-toolchain-r-test']
#          packages: ['clang-3.7']
#      env: COMPILER='clang++-3.7'
#
#    - os: linux
#      compiler: clang
#      addons: &clang38
#        apt:
#          sources: ['llvm-toolchain-precise-3.8', 'ubuntu-toolchain-r-test']
#          packages: ['clang-3.8']
#      env: COMPILER='clang++-3.8'

    # 2/ Linux GCC Builds
    - os: linux
      compiler: gcc
      addons: &gcc5
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-5']
      env: COMPILER='g++-5'

    - os: linux
      compiler: gcc
      addons: &gcc6
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6']
      env: COMPILER='g++-6'

    # 3/ OSX Clang Builds
    - os: osx
      osx_image: xcode7
      compiler: clang
      env: COMPILER='clang++'

    - os: osx
      osx_image: xcode8
      compiler: clang
      env: COMPILER='clang++'

install:
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    elif [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
      which cmake || brew install cmake
    fi
  - cd ${TRAVIS_BUILD_DIR}

before_script: export CXX=${COMPILER}

script:
  - ./scripts/build.py --tests

